.u3-background {
  /* background-color: blue; */
  background-image: repeating-radial-gradient(black 40%, red 50%);
  width:80%;

  height:220%;
  z-index: -20;
  position: absolute;
}

.u3-star{
    visibility: hidden;
}

.u3-face img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 10%;
  margin-left: 40%;
  z-index: 50;
  width:60%;
  mix-blend-mode: normal;

}

.u3-monkey img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: -10%;
  margin-left: 39%;
  z-index: 50;
  width:60%;
  mix-blend-mode: normal;
  /* visibility: hidden; */
}

.u3-lamp img{
  position: absolute;
  height: auto;
  margin-top: 140%;
  margin-left: 69%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
  /* visibility: hidden; */
}
.u3-medieval img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 105%;
  margin-left: 27%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-cat img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 105%;
  margin-left: 7%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-double img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 105%;
  margin-left: 47%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-old img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 10%;
  margin-left: -20%;
  z-index: 50;
  width:70%;
  mix-blend-mode: normal;
}

.u3-old2 img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 10%;
  margin-left: -200%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-star img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 50%;
  margin-left: 15%;
  z-index: 70;
  width:40%;
  mix-blend-mode: normal;
}

.u3-crowd img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 60%;
  margin-left: 20%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-diary img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 30%;
  margin-left: 5%;
  z-index: 50;
  width:20%;
  mix-blend-mode: normal;
}

.u3-stones img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 90%;
  margin-left: 20%;
  z-index: 50;
  width:10%;
  mix-blend-mode: normal;
}

.u3-text-data-1 {
  width: 30%;
  /* height: 30%; */
  padding: 5px;
  position: absolute;
  z-index: 100;
  background: transparent;
  font-size: 4em;
  font-family: serif;
  text-align: center;
  border-style: none;
  margin-top: 45%;
  margin-left: 30%;
  color:black;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  word-break: break-word;
  min-height: 60px;

}

.u3-text-data-2 {
  width: 50%;
  /* height: 30%; */
  position: absolute;
  padding: 5px;
  z-index: 90;
  background: transparent;
  font-size: 1em;
  font-family: serif;
  text-align: left;
  border-style: none;
  margin-top: 105%;
  margin-left: 5%;
  color:red;
  word-break: break-word;
  min-height: 60px;

}




@keyframes move {
  0%   {left:0px; top:400px;}
  25%  {left:1300px; top:400px;}
  50%  {left:1300px; top:600px;}
  75%  {left:0px; top:600px;}
  100% {left:0px; top:400px;}
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 140%;
  }

  to {
    margin-left: 70%;
    width: 335px;
  }
}
