* {
    margin: 0;
    /* display: inline-block; */
}

html,body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

output {
  display: none;
}

/* //////////////////////////////////TEXT//////////////////////////////////////// */
/* //////////////////////////////////TEXT//////////////////////////////////////// */
/* //////////////////////////////////TEXT//////////////////////////////////////// */
/* //////////////////////////////////TEXT//////////////////////////////////////// */

.multipleText{
  position: fixed;
  width: 20%;
  height: 30%;
  margin-left: 20%;
  margin-top: 2%;
  z-index: 10;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.control {
  position: absolute;
  top: 30px;
  left: 80%;
  padding: 10px;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  transition: 400ms ease;
  z-index: 1;
  background-color: #00ff2a;
}

.control input {
  width: 100%;
  padding: 5px;
}
.control input.text-data {
  margin-bottom: 10px;
}

.art {
  position: fixed;
  top: 10%; left: 40%;
  height: 600px;
  width: 800px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 60px;
}

ul {
  list-style: none;
}

.block {
  position: fixed;
  /* letter-spacing: -.6px; */
  line-height: 60px;
  cursor: pointer;
  color: #00ff2a;
}

.block:nth-child(1) {
  left: 30%;
  top: 30%;
}


/* ////////////////////// */

p {
  position: fixed;
  font-family:Calibri;
  margin-left: 30%;
  margin-top: 50%;
  z-index: 10;
}

h1 {
    position: fixed;
    z-index: 50;
    z-index: 10;
  font-family: Calibri;
  margin-top: 40%;
  margin-left: 60%;
  transform: skew(20deg,-4deg);
  text-shadow: 0 6px 1px  #00ff2a,
               0 0 5px  #00ff2a,
               0 1px 3px  #00ff2a,
               0 3px 5px  #00ff2a,
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.newest {
    position: absolute;
  font-family: Calibri;
  margin-top: 20%;
  margin-left: 50%;
  z-index: 0;
  background-color: #00ff2a;
}

/* //////////////////////////////////IMAGES//////////////////////////////////////// */
/* //////////////////////////////////IMAGES//////////////////////////////////////// */
/* //////////////////////////////////IMAGES//////////////////////////////////////// */
/* //////////////////////////////////IMAGES//////////////////////////////////////// */

.dog img{
  position: absolute;
  margin-top: 20%;
  margin-left: 70%;
  width: 20%;
  z-index: 40;
}

.ball {
  position: absolute;
}
.ball img{

  margin-top: 20%;
  margin-left: 20%;
  width: 20%;
  z-index: 30;
}

.graph img{
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  width: 10%;
  z-index: 0;
}

.judgement img{
  position: absolute;
  width: 100%;
  margin-top: 100%;
  z-index: -10;
}

.plant img{
  position: absolute;
  width: 15%;
  margin-top: 2%;
  margin-left: 5%;
  z-index: 0;
}

.videoSoyun {
  position: absolute;
  margin-top: 12%;
  margin-left: 5%;
  width: 15%;
  z-index: 0;
}

.rainfall {
  position: absolute;
  margin-top: 0%;
  margin-left: 0%;
  z-index: 0;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@page {
  size: 100mm 200mm landscape;
}
