.u3-background {
  /* background-color: blue; */
  background-image: repeating-radial-gradient(black 40%, red 50%);
  width:80%;

  height:180%;
  z-index: -20;
  position: absolute;
}


.u3-face img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 10%;
  margin-left: 30%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-star img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 50%;
  margin-left: 15%;
  z-index: 70;
  width:20%;
  mix-blend-mode: normal;
}

.u3-crowd img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 60%;
  margin-left: 20%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-diary img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 30%;
  margin-left: 5%;
  z-index: 50;
  width:20%;
  mix-blend-mode: normal;
}

.u3-stones img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 0%;
  margin-left: 0%;
  z-index: 50;
  width:10%;
  mix-blend-mode: normal;
}

.u3-text-data-1 {
  width: 40%;
  /* height: 30%; */
  padding: 5px;
  position: absolute;
  z-index: 100;
  background: transparent;
  font-size: 5em;
  font-family: serif;
  text-align: center;
  border-style: none;
  margin-top: 30%;
  margin-left: 30%;
  color:#00ff04;
  text-shadow: 0px 0px 8px #000;
  word-break: break-word;
  min-height: 60px;

}

.u3-text-data-2 {
  width: 60%;
  /* height: 30%; */
  padding: 5px;
  position: absolute;
  z-index: 90;
  background: transparent;
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
  border-style: none;
  margin-top: 70%;
  margin-left: 10%;
  color:black;
  word-break: break-word;
  min-height: 60px;

}




@keyframes move {
  0%   {left:0px; top:400px;}
  25%  {left:1300px; top:400px;}
  50%  {left:1300px; top:600px;}
  75%  {left:0px; top:600px;}
  100% {left:0px; top:400px;}
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 140%;
  }

  to {
    margin-left: 70%;
    width: 335px;
  }
}
