.u3-background {
  /* background-color: blue; */
  background-image: repeating-radial-gradient(black 40%, red 50%);
  width:80%;

  height:180%;
  z-index: -20;
  position: absolute;
}


.u3-face img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 10%;
  margin-left: 30%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-star img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 50%;
  margin-left: 15%;
  z-index: 70;
  width:20%;
  mix-blend-mode: normal;
}

.u3-crowd img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 60%;
  margin-left: 20%;
  z-index: 50;
  width:30%;
  mix-blend-mode: normal;
}

.u3-diary img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 30%;
  margin-left: 5%;
  z-index: 50;
  width:20%;
  mix-blend-mode: normal;
}

.u3-stones img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-top: 0%;
  margin-left: 0%;
  z-index: 50;
  width:10%;
  mix-blend-mode: normal;
}






@keyframes move {
  0%   {left:0px; top:400px;}
  25%  {left:1300px; top:400px;}
  50%  {left:1300px; top:600px;}
  75%  {left:0px; top:600px;}
  100% {left:0px; top:400px;}
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 140%;
  }

  to {
    margin-left: 70%;
    width: 335px;
  }
}
