.u2-background {
  width: 60%;
  height: 120%;
  margin-left: 0%;
  margin-top: 0%;
  background: rgb(213,248,255);
  background: linear-gradient(90deg, rgba(213,248,255,1) 22%, rgba(18,202,255,1) 50%, rgba(215,244,254,1) 87%);
  z-index: -20;
  position: absolute;
}

.u2-n64 {
  position: absolute;
  width:15%;
  height: 15%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  z-index: 5;
  transform-origin: center center;
}

.u2-n64:hover {
  position: absolute;
  width:15%;
  height: 15%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  z-index: 5;
  transform-origin: center center;
  }

.u2-n64 img{
width:100%;
height:auto;
}

.u2-castel{
  position: absolute;
  margin-top:10%;
  width: 100%;
  height: auto;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 4s;
  z-index: 2;
}

.u2-putin{
  position: absolute;
  margin-top:15%;
  width: 65%;
  height: auto;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run2;
  -webkit-animation-duration: 20s;
  z-index: 3;
}

.u2-drink{
  position: absolute;
  width: 60%;
  height: auto;
  z-index:2;
}

.u2-dance{
  position: absolute;
  width: 60%;
  height: auto;
  z-index: 1;
}

.u2-landscape{
  margin-top:20%;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 4;
}

.u2-ski{
  margin-top:20%;
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 6;
}

.u2-text-data-1 {
  width: 40%;
  /* height: 30%; */
  padding: 5px;
  position: absolute;
  z-index: 100;
  background: transparent;
  font-size: 2em;
  font-family: serif;
  text-align: center;
  border-style: none;
  margin-top: 30%;
  margin-left: 0%;
  color:lightblue;
  text-shadow: 0px 0px 8px #000;
  word-break: break-word;
  min-height: 60px;

}

.u2-text-data-2 {
  width: 60%;
  /* height: 30%; */
  padding: 5px;
  position: absolute;
  z-index: 90;
  background: transparent;
  font-size: 6em;
  font-family: sans-serif;
  text-align: right;
  border-style: none;
  margin-top: 60%;
  margin-left: 10%;
  color:black;
  word-break: break-word;
  min-height: 60px;

}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .u2-putin{
      position: absolute;
      margin-top:0;
      width: 65%;
      height: auto;
      -webkit-animation:linear infinite alternate;
      -webkit-animation-name: run2;
      -webkit-animation-duration: 20s;
      z-index: 3;
    }

    .u2-castel{
      position: absolute;
      margin-top:0%;
      width: 100%;
      height: auto;
      -webkit-animation:linear infinite alternate;
      -webkit-animation-name: run;
      -webkit-animation-duration: 4s;
      z-index: 2;
    }

    .u2-background {
      position: absolute;
      width: 60%;
      margin-top:0;
      height: 120%;
      margin-left: 0%;
      margin-top: 0%;
      background: rgb(213,248,255);
      background: linear-gradient(90deg, rgba(213,248,255,1) 22%, rgba(18,202,255,1) 50%, rgba(215,244,254,1) 87%);
      z-index: -20;

    }

    .u2-n64 {
      position: absolute;
      width:15%;
      margin-top:0;
      height: 15%;
      border-radius: 50%;
      -webkit-transition: -webkit-transform .8s ease-in-out;
              transition:         transform .8s ease-in-out;
      z-index: 5;
      transform-origin: center center;
    }

    .u2-n64:hover {
      position: absolute;
      width:15%;
      margin-top:0;
      height: 15%;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      z-index: 5;
      transform-origin: center center;
      }

    .u2-n64 img{
      position: absolute;
      margin-top:0;
    width:100%;
    height:auto;
    }

    .u2-castel{
      position: absolute;
      margin-top:0%;
      width: 100%;
      height: auto;
      -webkit-animation:linear infinite alternate;
      -webkit-animation-name: run;
      -webkit-animation-duration: 4s;
      z-index: 2;
    }

    .u2-putin{
      position: absolute;
      margin-top:0%;
      width: 65%;
      height: auto;
      -webkit-animation:linear infinite alternate;
      -webkit-animation-name: run2;
      -webkit-animation-duration: 20s;
      z-index: 3;
    }

    .u2-drink{
      position: absolute;
      margin-top:0;
      width: 60%;
      height: auto;
      z-index:2;
    }

    .u2-dance{
      position: absolute;
      margin-top:0;
      width: 60%;
      height: auto;
      z-index: 1;
    }

    .u2-landscape{
      margin-top:0%;
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 4;
    }

    .u2-ski{
      margin-top:0%;
      position: absolute;
      width: 20%;
      height: auto;
      z-index: 6;
    }

    .u2-text-data-1 {
      width: 40%;
      /* height: 30%; */
      padding: 5px;
      position: absolute;
      z-index: 100;
      background: transparent;
      font-size: 2em;
      font-family: serif;
      text-align: center;
      border-style: none;
      margin-top: 0%;
      margin-left: 0%;
      color:lightblue;
      text-shadow: 0px 0px 8px #000;
      word-break: break-word;
      min-height: 60px;

    }

    .u2-text-data-2 {
      width: 60%;
      /* height: 30%; */
      padding: 5px;
      position: absolute;
      z-index: 90;
      background: transparent;
      font-size: 6em;
      font-family: sans-serif;
      text-align: right;
      border-style: none;
      margin-top: 5%;
      margin-left: 10%;
      color:black;
      word-break: break-word;
      min-height: 60px;

    }


}


@-webkit-keyframes run {
    0% { left: -25%;}
    50%{ left : 0%;}
    100%{ left: -25%;}
}

@-webkit-keyframes run2 {
    0% { left: 0%;}
    50%{ left : 25%;}
    100%{ left: 0%;}
}
