.u1-background {
  background-color: blue;
  width:80%;

  height:130%;
  z-index: -20;
  position: absolute;
  display: inline-block;
}

.u1-judgement {
  position: absolute;
  display: inline-block;
  margin-left: 10%;
  margin-top: 40%;
  z-index: 10;
  /* style='width:45%; height:auto; display:inline-block;' */
}

.u1-judgement img{
  width:50%;
  height:auto;
}

.u1-plant img{
  display: none;
  width:20%;
  height:auto;
  z-index: 10;
  position: absolute;
  display: inline-block;
  margin-left: 10%;
}

.u1-dog img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-left: 50%;
  z-index: 20;
  width:40%;
}

.rainfall {
  position: absolute;
  margin-top: 40%;
  margin-left: 0%;
  z-index: 11;
}
