.u1-background {
  background-color: blue;
  width:80%;

  height:130%;
  z-index: -20;
  position: absolute;
  display: inline-block;
}

.u1-image1 {
  position: absolute;
  display: inline-block;
  margin-left: 10%;
  z-index: 30;
  /* style='width:45%; height:auto; display:inline-block;' */
}
.u1-image1 img{
  width:50%;
  height:auto;
}

.u1-image2 img{
  display: none;
  width:20%;
  height:auto;
  z-index: 10;
  position: absolute;
  display: inline-block;
  margin-left: 10%;
}

.u1-dog img{
  position: absolute;
  display: inline-block;
  width:40%;
  height: auto;
  margin-left: 30%;
}
