.u1-background {
  /* background-color: blue; */
  background-image: repeating-linear-gradient(white, grey 10%, #00ff04 15%);
  width:80%;

  height:180%;
  z-index: -20;
  position: absolute;
}

.u1-text-data-1 {
  width: 40%;
  /* height: 30%; */
  padding: 5px;
  position: absolute;
  z-index: 100;
  background: transparent;
  font-size: 5em;
  font-family: serif;
  text-align: center;
  border-style: none;
  margin-top: 30%;
  margin-left: 30%;
  color:#00ff04;
  text-shadow: 0px 0px 8px #000;
  word-break: break-word;
  min-height: 60px;

}

.u1-text-data-2 {
  width: 60%;
  /* height: 30%; */
  padding: 5px;
  position: absolute;
  z-index: 90;
  background: transparent;
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
  border-style: none;
  margin-top: 70%;
  margin-left: 10%;
  color:black;
  word-break: break-word;
  min-height: 60px;

}

.u1-judgement {
  position: absolute;
  margin-left: 1%;
  margin-top: 50%;
  z-index: 10;
  /* style='width:45%; height:auto; display:inline-block;' */
}

.u1-judgement img{
  width:20%;
  height:auto;
}

.u1-plant img{
  width:20%;
  height:auto;
  z-index: 10;
  position: absolute;
  margin-left: 60%;
  margin-top: 70%;
}

.u1-dog img{
  position: absolute;
  height: auto;
  margin-top: 20%;
  margin-left: 50%;
  z-index: 20;
  width:40%;
}

.u1-sim img{
  position: absolute;
  height: auto;
  margin-top: 23%;
  margin-left: 59%;
  z-index: 40;
  width:30%;
}

.u1-postcard img{
  position: absolute;
  height: auto;
  margin-top: 33%;
  margin-left: 59%;
  z-index: 30;
  width:30%;
  animation-name: movement;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.u1-graph1 img{
  position: absolute;
  height: auto;
  margin-top: 20%;
  margin-left: 15%;
  z-index: 50;
  width:20%;
  mix-blend-mode: normal;
}


.u1-graph2 img{
  position: absolute;
  height: auto;
  margin-top: 40%;
  margin-left: 35%;
  z-index: 50;
  width:20%;
  mix-blend-mode: normal;
}


.u1-graph3 img{
  position: absolute;
  height: auto;
  margin-top: 50%;
  margin-left: 15%;
  z-index: 50;
  width:20%;
  mix-blend-mode: normal;
}

.u1-green img{
  /* display: inline-block; */
  position: absolute;
  height: auto;
  margin-top: 60%;
  margin-left: -2%;
  z-index: 0;
  width:25%;
  animation-name: width;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.u1-ball img{
  position: absolute;
  height: auto;
  margin-top: 50%;
  margin-left: 15%;
  z-index: 50;
  width:20%;
  mix-blend-mode: normal;
}

.u1-portraits img{
  position: absolute;
  height: auto;
  margin-top: 50%;
  margin-left: 15%;
  z-index: 50;
  width:80%;
  mix-blend-mode: normal;
}

.rainfall {
  position: absolute;
  margin-top: 40%;
  margin-left: 0%;
  z-index: 40;
  pointer-events: none;
}

@keyframes movement {
  0%   {margin-left: 10%;}
  25%  {margin-left: -20%;}
  50%  {margin-left: 80%;}
  100% {margin-left: 10%;}
}

@keyframes width {
  0%   {width: 10%;}
  25%  {width: 30%;}
  50%  {width: 60%;}
  100% {width: 10%;}
}
