
@font-face {
    font-family: 'festival';
    src: url('font/alergia.otf');
}

*{
    margin:0;
    padding:0;

}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
  text-shadow: 0px 0px 8px #000;
}

body, html{
  background-image:url('images/frame_a/bg.png');
  width:100%;
  overflow: hidden;
}

.PreContainer {
  width: 100vw;
  height: auto;
}


input {
  width: 100%;
  padding: 5px;
  position: absolute;
  z-index: 1;
  background: transparent;
  font-size: 10em;
  font-family: serif;
  text-align: center;
  border-style: none;
  margin-top: 0%;
  color:red;
  text-shadow: 0px 0px 8px #000;

}


.imgoverlay {
  background:url('images/frame_a/9.MM.png') -25px -50px;
  background-repeat: none;
  position:fixed ;
  top:0;
  width:100%;
  z-index:0;
    height:100%;
    background-size: calc(50% + 50px);
    transform: rotateY(40deg);

}

.firebar{
  position: absolute;
  width:100vw;
  height:auto;
  z-index:100;
}

.blockleft{
  position: absolute;
  width:10%;
  height:20%;
  display: inline-block;
  margin-left:5%;
  z-index:100;
}
.blockright{
  position: absolute;
  margin-left:80%;
  width:10%;
  height:20%;
  display:inline-block;
  z-index:100;
}

.blockleftdoor{
    position: absolute;
  width:30px;
  height:30px;
  display: inline-block;
  margin-left:0%;
  z-index:100;
}
.blockrightdoor{
  position: absolute;
  margin-left:98.5%;
  width:30px;
  height:30px;
  display:inline-block;
  z-index:100;
}

.door{
position: absolute;
  margin-top: 25%;
  width: 10%;
  height:auto;
  margin-left: 45%;
}

.seconddoor{
  width:100vw;
  height: 100vh;
  background: white;
}


.shadow {
  box-shadow: 0px 3px 10px rgba(0,0,0,.8);
}

.container1 {
  width: 100%;
  margin-left: 25%;
  position:absolute;

}

h3 {
  font-family: 'festival';
  font-size: 10em;
  margin-left: 0.3%;
}

h4 {
  font-family: 'festival';
  font-size: 10em;
  margin-left: 5em;
}

h5 {
  font-family: 'festival';
  font-size: 10em;
}

h6 {
  font-family: 'festival';
  font-size: 10em;
  margin-left: 14.2em;
}


.Title1{
    position:relative;
    top:0px;

    -webkit-animation-name: move;
    	-webkit-animation-duration: 1s;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-direction: right;

}

.Title3{
    position:relative;
    top:0px;

    -webkit-animation-name: move;
    	-webkit-animation-duration: 1s;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-direction: right;
      -webkit-animation-timing-function: linear;

}

.Title2{
    position:absolute;
    top:0px;

}

img {
  width:100%;
}

#top-image {
background:url('images/frame_a/46.AP.png') -25px -50px;
background-repeat: none;
position:fixed ;
top:0;
width:100%;
z-index:-1;
  height:100%;
  background-size: calc(100% + 50px);

}

.move-area{/*normally use body*/
  width: 100vw;
  height: 100vh;

}

.container {
  width: 50%;
}

.container2 {
  width: 20%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height:25%;
}

.eye:after {
  position: absolute;
  bottom: 25%;
  width: 50%;
  height: 25%;
  border-radius: 50%;
  content: " ";
}



@media print {
.no-print, .no-print * { display: none !important; } }


@-webkit-keyframes move {
    	0% {
    		margin-top: -50%;
    	}
    	100% {
    		margin-top: 10%;
    	}
    }
