* {
    margin: 0;
    /* display: inline-block; */
}

html,body {
  height: 100%;
  background-color: grey;
}


body {
  background-color: lightgrey;
  height: 150%;
}

output {
  display: none;
}


.control {
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 10px;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  transition: 400ms ease;
  z-index: 1;
}

.control input {
  width: 100%;
  padding: 5px;
}
.control input.text-data {
  margin-bottom: 10px;
}


.control2 {
  position: fixed;
  top: 70px;
  left: 30px;
  padding: 10px;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  transition: 400ms ease;
  z-index: 1;
}

.control2 input {
  width: 100%;
  padding: 5px;
}
.control2 input.text-data {
  margin-bottom: 10px;
}

.art {
  position: absolute;
  top: 10%; left: 40%;
  transform: translateX(-50%);
  height: 600px;
  width: 800px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.art2 {
  position: absolute;
  top: 40%; left: 60%;
  transform: translateX(-50%);
  height: 600px;
  width: 800px;
  font-family: 'Sprat';
  font-weight: normal;
  font-variant: 'Condensed';
  font-size: 60px;
  color: black;

}

ul {
  list-style: none;
}

.block {
  position: absolute;
  letter-spacing: -.6px;
  line-height: 60px;
  cursor: pointer;
}

.block:nth-child(1) {
  left: 47px;
  top: 18px;
}
