* {
    margin: 0;
    /* display: inline-block; */
}

html,body {
  height: 100%;
  background-color: grey;
}


body {
  background-color: red;

  background-image: repeating-linear-gradient(white, black, #8bff00 10%);
  height: 150%;
}

output {
  display: none;
}


.try img{
  position: absolute;
  display: inline-block;
  margin-left: 0%;
  margin-top: 0%;
  width: 100%;
}
