/* FONT */


/* BASE */
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body,html {
    height: 100%;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;





}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

img{
  width: 50%;
  height: auto;
}

.index-intro{

  margin-left: 5%;
  margin-top: 6%;
  color:#000;
  font-family: serif;
  font-size: 7em;
  height:auto;
}

.index-intro2{

  margin-left: 20%;
  margin-top: -2%;
  color:#000;
  font-family: sans-serif;
  font-size: 11em;
  height:auto;
}

.username{
  margin-left: 31%;
  margin-top: 0%;
}

.index-universe1{
  /* overflow: auto; */
  width: 80%;
  height: 180%;
  margin-left: 10%;
  margin-top: 20%;
  /* background-color: blue; */

}

.index-universe2{
  overflow: hidden;
  width: 60%;
  height: 120%;
  margin-left: 5%;
  margin-top: 40%;
  background: rgb(213,248,255);
background: linear-gradient(90deg, rgba(213,248,255,1) 22%, rgba(18,202,255,1) 50%, rgba(215,244,254,1) 87%);
  display: block;
}

.index-universe3{

  width: 60%;
  height: 110%;
  margin-left: 20%;
  margin-top: 10%;
margin-bottom: 30%;
display: block;
}

.index-universe4{

  margin-left: 2%;
  margin-top: 50%;
  margin-bottom: 30%;
  width: 80%;
  height: 90%;
  background-image:url('U4/img/bg.png');
  display: block;
}

.index-universe5{
  overflow: hidden;
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
  height: 100%;
  background-color: yellow;
  display: block;
}

.index-printbutton{
  overflow: hidden;
  margin-left: 30%;
  margin-top: 10%;
  width: 30%;
  height: 60%;

  display: block;
}

.printbutton{
  margin-left: 20%;
  margin-top: 30%;
}


@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
